body{
    margin: 0px;
    background-color: black;
}

main{
    margin-left:20px;
    margin-right:20px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "jetbrains mono";
    font-size: 60px;
    color: white;
    background: linear-gradient(to right, cyan, rgb(233, 172, 245), cyan);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(58, 58, 58);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: cyan;
    color: black;
}

.navbar li{
    float: left;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

.imgcontainer {
    width:min(1000px, 100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
}

img {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

img:hover {
    transform: scale(1.5);
    transition: 0.5s;
}