* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-underline-offset: 5px;
    font-size: 60px;
    text-transform: uppercase;;
    background: linear-gradient(to right, cyan, rgb(233, 172, 245), cyan);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.container {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 20px
}

.prgrph {
    text-align: center;
    margin: 0;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.container2 {
    display: inline-block;
    padding: 20px;
}

.text1 {
    font-style: bold;
    font-size: 10em;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-right: 5px solid;
    color:white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(17),
        cursor .4s step-end infinite alternate; 
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.card {
    height: 4vh;
    aspect-ratio: 1/1;;
    border: 3px solid cyan;
    border-radius: 5%;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-20deg);
    }
    75% {transform: rotate(190deg);
    }

    100% {transform:rotate(180deg);
    }
}

.card:hover {
    scale:calc(1.1);
    box-shadow: 0px 0px 20px cyan, 0px 0px 20px cyan inset;
    transition-duration: 0.2s;

}

